html {
    background-color: #007bff;
}

img#logoSmall {
    width: 40%;
    padding-left: 10px;
    padding-top: 10px;
}

img#banner2 {
    width: 100%;
    height: 100%;
}

img#photobanner {
    width: 100%;
    height: 100%;
}


/* div#logo {
    float: left;
    width: 50%;
    top: 0;
}
*/

div.row#login {
    float: right;
<<<<<<< Updated upstream
} 
=======
    padding-top: .5%;
    /*padding-right: .5%;*/
    position: top;
    margin-top: 4em;
}
>>>>>>> Stashed changes

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#notNav {
    top: 0;
    width: 100%;
}

.col-centered {
    float: none;
    margin: 0 auto;
    justify-content: center;
}

img#arrow {
    width: 20%;
    justify-content: center;
    margin-left: 40%;
}

body {
    /* background-color: orange; */
    width: 100%;
}

<<<<<<< Updated upstream
#toprow {
    background-color: orange;
}

.content {
    margin-top: 56px;
}

.right-pad-10 {
    padding-right: 10px;
}

.login-bar {
    margin-top: 56px;
    margin-bottom: -20px;
}

.link-blocks {
    margin-top: 25px;
    background-color:white;
}

.link-block {
    margin-top: 10px;
}

.link-header {
    min-height: 116px;
}

/* Media queries */

/* @media only screen and (min-width: 400px) { 
    img#logoSmall {
        width: 20%;
        padding-left: 10px;
        padding-top: 10px;
    }
} */

@media only screen and (max-width: 767px) { 
    #toprow {
        /* min-height: 180px; */
        content: "";
    }

    img#logoSmall {
        width: 100%;
        max-width: 76px;
        padding-left: 10px;
        padding-top: 10px;
    }
}


@media only screen and (min-width: 768px) { 
    #toprow {
        min-height: 100px;
        max-height: 120px;
    }
    img#logoSmall {
        width: 80%;
        max-width: 115px;
        padding-left: 10px;
        padding-top: 10px;
    }
}
=======
.clear {
  clear:both;
}
>>>>>>> Stashed changes
