img {
  width: 45%;
  height: auto;

}
body p {
  text-align: left;
  float: left;
  width: 50%;
  height: 12em;
}
html {
    background-color: #;
}
/*kjhgfxz*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(1, 4, 0);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
}
#logo img {
width: 320px;
margin-left: 10px;
float: left;
}
